@import './normalize';
@import './variables';
@import './fonts';
@import './mixin';
@import './scafolding';

// snipets
@import './snipets/tabs.scss';
@import './snipets/aside-list.scss';
@import './snipets/select-form.scss';


@import './header/header.scss';
@import './footer/footer.scss';


@import './profile/index.scss';