.__select {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 0 auto;

  &.__select--sort-posts {
    width: 95px;
    height: 30px;
    margin: 0px;


    .__select__title {
      padding-left: 3px;

      background: transparent;
      border:none;
      color: var(--akcentFonColor);
    }
  }

  &[data-state="active"] {
    .__select__title {
      background: #FFFFFF;
      border: 1px solid #F0F0F0;
      box-sizing: border-box;
      border-radius: 4px;
      &::before {
        background-image: url(./../../images/svg/select-form-icon.svg);
      }
    }
    
    .__select__content {
      opacity: 1;
      box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
    }
    
    .__select__label + .__select__input + .__select__label {
      max-height: 40px;
      border-top-width: 1px;
    }
  }
}
.__select__title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 16px;

  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  font-weight: 900;

  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  box-sizing: border-box;
  border-radius: 4px;
  
  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    right: 0px;

    display: block;
    width: 24px;
    height: 24px;

    transition: all 0.3s ease-out;
    transform: translateY(-50%);
    background-image: url(./../../images/svg/select-form-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {  
    border-bottom: solid 1px var(--akcentFonColor);
    &::before {
      background-image: url(./../../images/svg/select-form-icon.svg);
    }
  }
}

.__select--sort-posts .__select__content {
  top: 30px;
}

.__select__content {
  position: absolute;
  top: 40px;
  left: 3px;

  display: flex;
  flex-direction: column;
  width: calc(100% - 6px);

  background-color: #ffffff;
  
  transition: all 0.3s ease-out;

  opacity: 0;
  z-index: 8;
}
.__select__input {
  display: none;

  &:checked + label {
  //   background-color: #dedede;
  }
  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}

.__select--sort-posts .__select__label {
  padding-left: 3px;
}

.__select__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 16px;

  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  
  transition: all 0.2s ease-out;

  cursor: pointer;
  
  overflow: hidden;

  & + input + & {
    border-top: 0 solid #ffffff;
  }

  &:hover {
    background-color: rgba(248, 219, 205, 0.2) !important;

    color: #000000;
  }
}