.trending {
  padding: 25px 30px;
  margin-bottom: 20px;

  background: #FCFDFD;
  border-radius: 4px;
}

.trending__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 20px;

  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;

  border-bottom: 1px solid #F4F4F4;
}

.trending__list-avatar {
  max-width: 80px;
  height: 52px;

  margin-right: 15px;

  border-radius: 2px;
}